.header-nav {
  .header-nav__nav {
    max-width: 1388px;
    margin: auto;
    .menu-top {
      display: grid;
      justify-content: space-between;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-template-areas:
        "nav logo"
        "search aside";
      background-color: $primary-white;
      align-items: center;
      @include ipad-small {
        grid-template-columns: auto;
        grid-template-rows: repeat(1, 1fr);
        grid-template-areas: "logo search nav aside";
      }
      &__logo {
        grid-area: logo;
        margin-left: 14px;
      }
      &__nav {
        display: none;
        left: 0;
        z-index: 9;
        position: fixed;
        @include ipad-small {
          display: block !important;
          position: relative;
        }
        grid-area: nav;
        div:nth-child(1),
        div:nth-child(2) {
          ul {
            width: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 20px;
            background-color: white; // Change to use color variables
            @include ipad-small {
              width: 550px;
              flex-direction: row;
              background-color: white; // Change to use color variables
            }
            a {
              display: block;
            }
            li {
              display: inline-block;
              width: 100%;
              text-align: center;
              font-size: 1.3rem;
              a {
                text-decoration: none;
                display: block;
                border-top: 1px #a9aaa9 solid;
                @include ipad-small {
                  border-top: none;
                }
              }
              ul {
                position: relative;
                display: flex;
                flex-direction: column;
                @include ipad-small {
                  position: absolute;
                }
              }
            }
            li:hover ul {
              // display: none;
              @include ipad-small {
                // display: block;
              }
            }
          }
        }
        div:nth-child(2) {
          display: block;
          @include ipad-small {
            display: none;
          }
        }
      }
      &__aside {
        grid-area: aside;
        @include ipad-small {
          display: flex;
          justify-content: flex-start;
        }
        .menu-top__cart {
          width: 100%;
          height: 100%;
          display: grid;
          place-items: center;
          background-color: $cart-menu;
          @include ipad-small {
            width: 75px;
            height: 100px;
          }
          a {
            .cart__items {
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: 1fr 1fr;
              width: 50px;
              place-items: center;
              i {
                font-size: 2rem;
                grid-column: 1 / 1;
                grid-row: 1 / 1;
              }
              p:nth-child(2) {
                grid-column: 1 / 1;
                grid-row: 2 / 2;
                display: grid;
                place-items: center;
                margin-block-start: 0em;
                margin-block-end: 0em;
              }
              p:nth-child(3) {
                grid-column: 1/1;
                grid-row: 1/1;
                justify-self: end;
                margin-block-start: 0;
                background-color: gray;
                border-radius: 50px;
                width: 25px;
                height: 25px;
                display: grid;
                place-items: center;
              }
            }
          }
        }
      }
      &__search {
        grid-area: search;
        background-color: $cart-menu;
        height: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
        @include ipad-small {
          background-color: $primary-white;
          padding-left: 10px;
        }
      }
    }
    .burger-icon {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 9;
      display: block;
      position: fixed;
      @include ipad-small {
        display: none;
      }
    }
  }
  &__bg {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); // Change to use color variables
    position: fixed;
    z-index: 5;
    top: 0;
  }
  .menu-bottom {
    display: none;
    @include ipad-small {
      display: block;
    }
    div:nth-child(1) {
      ul {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: $menu-bottom;
        li {
          font-size: 1.6rem;
          padding: 10px;
          a {
            color: $primary-white;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          
          .sub-menu {
            display: flex;
            flex-direction: row;
            position: absolute;
            max-width: 1388px;
            right: 0;
            left: 0;
            margin: auto;
            justify-content: flex-start;
            li {
              border-right: 2px solid grey;
              font-size: 1.1rem;
              a::after {
                display: none;
              }
              a {
                color: black;
              }
              ul {
                display: flex !important;
                flex-direction: column;
                position: relative;
                li {
                  z-index: 9;
                  border: none;
                  a {
                    color: $primary-white;
                  }
                }
              }
            }
          }
        }
        li {
          a:nth-child(-n + 4)::after {
            content: "\f107";
            width: 20px;
            height: 20px;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
